@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-item">
        @Html.ActionLink("Encuestas", "Index", "Poll", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Crear", "Create", "Poll", null, new { @class = "nav-link" })
    </li>
}