@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <h4>Jorge Eduardo González Campos</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is a Test</h2>
        <p>
            This application lets the user create poll's dynamically.
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>