@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Dynamic Poll</h1>
    <p class="lead">This application lets the user create poll's dynamically.</p>
    <p><a href="https://github.com/jegnzc/Dynamic-Polls-Project" target="_blank" class="btn btn-primary btn-lg">Check on GitHub</a></p>
    <h4>Jorge Eduardo González Campos</h4>
    <h5>Desarrollador Web</h5>
</div>